@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    font-family: 'Open Sans', sans-serif;
}

/* SOLO PARA LAS LETRA*/
/*
.div-croquis {
    border: solid red 1px;
    background-color: red;
    width: 100%;
    height: 700px;
    margin: auto;
}
*/
/* HEADER */
header {
    background-color: #07243d;
    padding: 20px;
    color: white;
    text-align: center;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container img {
    max-width: 100px;
    margin-right: 10px;
}

/*  FOOTER */
footer {
    text-align: center;
}

.pie-de-pagina{
    width: 100%;
    background-color: #07243d;
}
.pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px; /* Reduccion espacio entre columnas*/
    padding: 30px 0px; /* Reducción el padding superior e inferior */
}
.pie-de-pagina .grupo-1 .box figure{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-de-pagina .grupo-1 .box figure img{
    width: 150px; /* Reduzco el tamaño de la imagen */
    height: auto; /* Ajusto la altura automáticamente */
}
.pie-de-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-de-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0e1924;
    text-align: center;
    transition: all 300ms ease;
}
.pie-de-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-de-pagina .grupo-2{
    background-color: #0e1924;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-de-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-de-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}







/* A CAMBIAR DESDE AQUI */

/* listo uwu */
main {
    padding: 20px;
    background-image: url('../imagenes/img/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid red;*/
}

.principal{
    display: grid;
    gap: 20px;
    grid-template: 
        "div-barra-lateral div-mapa div-mapa div-mapa div-mapa";
    /*
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid red;
    */
}

.div-barra-lateral {
    grid-area: div-barra-lateral;
    /*border: 1px solid red;*/
    align-items: center;
}
  
.div-mapa {
    grid-area: div-mapa;
    /*border: 1px solid red;*/
    padding: 10px auto;
}
  
@media (max-width: 600px) {
    .principal {
        grid-template-areas: 
            "div-barra-lateral"
            "div-mapa";
        /*flex: 100%;*/ /* En pantallas pequeñas, ocuparán el 100% del ancho para estar uno debajo del otro */
    }
}


#Capa_2{
    /*border: 1px solid red;*/
    width: 100%;
    background-color: #fff;
}

/* ERLY */

.encontrar-ruta{
    display: block;
    margin: 0px 10px;
    align-items: center;
}

.boton-encontrar-ruta, .boton-informacion{
    background-color: #07243d;
    color: #fff;
    margin-right: 2px;
    height: 70px;
    width: 40%;
    font-weight: 800;
    font-size: 15px;
    border-radius: 12px;
    transition: .1s;
    font-family: inherit;
    cursor: pointer;
    display: block;
    margin: 0px 20px;
    padding: 0 5px;
}
/*
.div-mapa{
    /* border: 1px solid red; */
    /*
    width: 100%;
    position: relative;
}
*/

#inicio, #final{
    font-size: 20px;
    width: 100%;
    padding: 7px;
    margin: 10px 0;
    border-radius: 12px;
}

#buscar{
    background-color: #07243d;
    color: #fff;
    width: 200px;
    height: 50px;
    margin: 5px 30%;
    border-radius: 12px;
    font-size: 20px;
    padding: 7px 0;
    margin-top: 10%;

}


/*Stefano*/
#contenedor-info {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: flex-start;
    box-sizing: border-box;
}

.seccion-areas{
    width: 95%;
}

.opciones-botones {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
    display: flex;
}

.cuadro-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px 10px;
    padding: 10px;
    width: 100%;
    max-height: 600px; /* Ajusta la altura máxima según tu diseño */
    overflow: auto; /* Agrega scroll cuando el contenido excede la altura máxima */
}

.seccion {
    margin-bottom: 15px;
}

.etiquetas span {
   
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%; /* Asegura que el span ocupe todo el ancho disponible */
}

.boton-detalle {
    background-color: #40A8C4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

/*Ventana emergente de datos*/
.detalle-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(200,230,238,0.5);
    border: 1px solid #ccc;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}




