@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    font-family: 'Open Sans', sans-serif;
}

/* SOLO PARA LAS LETRA*/
.div-croquis {
    border: solid red 1px;
    width: 100%;
    height: 700px;
    margin: auto;
}

.div-barra-lateral{
    width: 450px;
    border: solid red 1px;
    /*min-height: 100vh;*/
    flex-shrink: 0;
    display: flex;
}


header {
    background-color: #07243d;
    padding: 20px;
    color: white;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 100px;
    margin-right: 10px;
}

main {
    padding: 20px;
}

#Capa_2{
    border: 1px solid red;
    width: 80%;
}

footer {
    text-align: center;
}

.pie-de-pagina{
    width: 100%;
    background-color: #07243d;
}
.pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px; /* Reduccion espacio entre columnas*/
    padding: 30px 0px; /* Reducción el padding superior e inferior */
}
.pie-de-pagina .grupo-1 .box figure{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-de-pagina .grupo-1 .box figure img{
    width: 150px; /* Reduzco el tamaño de la imagen */
    height: auto; /* Ajusto la altura automáticamente */
}
.pie-de-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-de-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0e1924;
    text-align: center;
    transition: all 300ms ease;
}
.pie-de-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-de-pagina .grupo-2{
    background-color: #0e1924;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-de-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-de-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* ERLY */
.principal{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.opciones-botones{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    padding-bottom: 40px;
}

.boton-encontrar-ruta, .boton-informacion{
    margin-right: 10px;
    height: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    transition: .1s;
    font-family: inherit;
    cursor: pointer;
}

.div-mapa{
    border: 1px solid red;
    width: 100%;
    position: relative;
}

/*Stefano*/
#contenedor-info {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: flex-start;
    box-sizing: border-box;
}

.opciones-botones {
    margin-bottom: 20px; /* Agrega espacio entre botones y cuadro-info */
}

.cuadro-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 20px 30px;
    padding: 10px;
    width: 200px;
    max-height: 300px; /* Ajusta la altura máxima según tu diseño */
    overflow: auto; /* Agrega scroll cuando el contenido excede la altura máxima */
}

.seccion {
    margin-bottom: 15px;
}

.etiquetas span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%; /* Asegura que el span ocupe todo el ancho disponible */
}

.boton-detalle {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/*Ventana emergente de datos*/
.detalle-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}




